@page
@model StorageInstruments.Pages.Instruments.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
<form action="/Instruments/List" method="get">
      <div class="form-group">
          <div class="input-group">
              <input type="search" class="form-control" asp-for="SearchTerm"/>
              <span class="input-group-btn">
                  <button class="btn btn-default">
                      <i class="glyphicon glyphicon-search">Search</i>
                  </button>
              </span>
          </div>
      </div>
</form>
<table class="table">
    @foreach (var item in Model.Instruments)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Location</td>
        <td>@item.owner</td>
        <td>@item.Type</td>
        <td>
            <a class="btn btn-lg" asp-page="./Detail" asp-route-instrumentId="@item.Id">
                <i class="glyphicon glyphicon-zoom-in">Details</i>
            </a>
        </td>
        <td>
            <a class="btn btn-lg" asp-page="./Edit" asp-route-instrumentId="@item.Id">
                <i class="glyphicon glyphicon-zoom-in">Edit</i>
            </a>
        </td>
    </tr>
    }

</table>

<a asp-page="./Edit" class="btn btn-primary">Add New</a>


